# ***Assignment py-if-else task***

**TASK :- 2 Arithmetic Operators**

In [ ]:
# The provided code stub reads two integers from STDIN, a and b .Add code to print three lines where:

# 1.The first line contains the sum of the two numbers.
# 2.The second line contains the difference of the two numbers (first - second). 3.The third line contains the product of the two numbers.

# Example:

# a = 3
# b = 5

# Print the follwing:
# 8
# -2
# 13

# Input Format

# The first line contains the first integer,a .
# The second line contains the second integer,b .

# Output Format

# Print the three lines as explained above.

# Sample Input 0

# 3
# 2

# Sample Output 0

# 5
# 1
# 6

# Explanation 0

# 3+2 = 5
# 3-2 = 1
# 3*2 = 6

In [9]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

2
3
5
-1
6

**TASK 3 :- Compress the String!**

In [ ]:
# In this task, we would like for you to appreciate the usefulness of the groupby() function of itertools . To read more about this function, Check this out .

# You are given a string S. Suppose a character 'c' occurs consecutively X times in the string. Replace these consecutive occurrences of the character 'c' with (X,c) in the string.

# For a better understanding of the problem, check the explanation.

# Input Format

# A single line of input consisting of the string S.

# Output Format

# A single line of output consisting of the modified string.

# Constraints

# All the characters of denote integers between 0 and 9.

# Sample Input

# 1222311

# Sample Output

# (1, 1) (3, 2) (1, 3) (2, 1)

# Explanation

# First, the character 1 occurs only once. It is replaced by (1,1). Then the character 2 occurs three times, and it is replaced by (3,2) and so on.

# Also, note the single space within each compression and between the compressions.

In [2]:
from itertools import *
a = input()
for i,j in groupby(a):
    print(tuple([len(list(j)),int(i)]),end=' ')

1222311
(1, 1) (3, 2) (1, 3) (2, 1)

**Task 4 :- The Minion Game**

In [ ]:
# Kevin and Stuart want to play the 'The Minion Game'.

# Game Rules

# Both players are given the same string,S.
# Both players have to make substrings using the letters of the string S.
# Stuart has to make words starting with consonants.
# Kevin has to make words starting with vowels.
# The game ends when both players have made all possible substrings.

# Scoring A player gets +1 point for each occurrence of the substring in the string S .

# For Example:
# String S = BANANA
# Kevin's vowel beginning word = ANA
# Here, ANA occurs twice in BANANA. Hence, Kevin will get 2 Points.

# Our task is to determine the winner of the game and their score.

# Function Description

# Complete the minion_game in the editor below.

# minion_game has the following parameters:

# string: the string to analyze

# Prints

# string: the winner's name and score, separated by a space on one line, or Draw if there is no winner

# Input Format

# A single line of input containing the string S.
# Note: The string S will contain only uppercase letters:[A - Z] .

# Sample Input

# BANANA

# Sample Output

# Stuart 12

# Note :
# Vowels are only defined as AEIOU. In this problem, Y is not considered a vowel.

In [3]:
def minion_game(string):
    s = string
    stuart = 0
    kevin = 0
    vowel = ['A','E','I','O','U']
    for i in range(len(s)):
        ln = len(s[i:])
        if s[i] in vowel:
            kevin += ln
        else:
            stuart += ln
    if stuart == kevin:
        print('Draw')
    elif stuart > kevin:
        print(f'Stuart {stuart}')
    else:
        print(f'Kevin {kevin}')

if __name__ == '__main__':
    s = input()
    minion_game(s)

BANANA
Stuart 12

**Task 5 :- Write a function**

In [ ]:
# An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

# In the Gregorian calendar, three conditions are used to identify leap years:

# The year can be evenly divided by 4, is a leap year, unless:
# The year can be evenly divided by 100, it is NOT a leap year, unless: The year is also evenly divisible by 400. Then it is a leap year.
# This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

# Task

# Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

# Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

# Input Format

# Read year, the year to test.

# Output Format The function must return a Boolean value (True/False). Output is handled by the provided code stub.

# Sample Input 0

# 1990

# Sample Output 0

# False

# Explanation 0

# 1990 is not a multiple of 4 hence it's not a leap year.

In [4]:
def is_leap(year):
    leap = False
    if year%4==0:
        if year%100==0:
            if year%400==0:
                return True
            else:
                return leap
        else:
            return True
    else:
        return leap



year = int(input())
print(is_leap(year))

1990
False

**Task 7 :- Iterables and Iterators**

In [ ]:
# The itertools module standardizes a core set of fast, memory efficient tools that are useful by themselves or in combination. Together, they form an iterator algebra making it possible to construct specialized tools succinctly and efficiently in pure Python.

# To read more about the functions in this module, check out their documentation here.

# You are given a list of N lowercase English letters. For a given integer K, you can select any K indices (assume 1-based indexing) with a uniform probability from the list.

# Find the probability that at least one of the K indices selected will contain the letter: 'a'.

# Input Format

# The input consists of three lines. The first line contains the integer N, denoting the length of the list. The next line consists of N space-separated lowercase English letters, denoting the elements of the list.

# The third and the last line of input contains the integer K, denoting the number of indices to be selected.

# Output Format

# Output a single line consisting of the probability that at least one of the K indices selected contains the letter:'a'.

# Note: The answer must be correct up to 3 decimal places.

# Sample Input

# 4
# a a c d
# 2

# Sample Output

# 0.8333

# Explanation

# All possible unordered tuples of length 2 comprising of indices from 1 to 4 are: (1,2),(1,3),(1,4),(2,3),(2,4),(3,4)

# Out of these 6 combinations, 5 of them contain either index 1 or index 2 which are the indices that contain the letter 'a'.

# Hence, the answer is 5/6.

In [5]:
from itertools import combinations

a = int(input())
s = input().split()
b = int(input())

comb = combinations(s,b)
overall_len = 0
contain_a = 0
for i in comb:
    if 'a' in i:
        contain_a += 1
    overall_len += 1
print(f'{contain_a/overall_len:.3f}')

4
a a c d
2
0.833

**Task 8 :- Tuples**

In [ ]:
# Given an integer,n , and n space-separated integers as input, create a tuple,t, of those n integers. Then compute and print the result of hash(t).

# Note: hash() is one of the functions in the builtins module, so it need not be imported.

# Input Format

# The first line contains an integer,n , denoting the number of elements in the tuple. The second line contains n space-separated integers describing the elements in tuple t.

# Output Format

# Print the result of hash(t) .

# Sample Input 0

# 2
# 1 2

# Sample Output 0

# 3713081631934410656

# Issue: This hackerrank problem has issue with Python 3 but It works in PYpy3 on hackerrank.

In [6]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    res = tuple(integer_list)
    print(hash(res))

2
1 2
-3550055125485641917

**Task 9 :- Finding the percentage**

In [ ]:
# The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

# Example marks key:value pairs are 'alpha':[20,30,40] 'beta':[30,50,70] query_name = 'beta'

# The query_name is 'beta'.beta's average score is (30+50+70)/3 = 50.0.

# Input Format

# The first line contains the integer n, the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

# Output Format

# Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

# Sample Input 0

# 3
# Krishna 67 68 69
# Arjun 70 98 63
# Malika 52 56 60
# Malika

# Sample Output 0

# 56.00

In [7]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    for key,value in student_marks.items():
        if key == query_name:
            print(f'{sum(value)/len(student_marks[key]):.2f}')
            break

3
krishna 67 68 69
rjun 70 98 63
malika 52 56 60
malika
56.00

**Task 10 :- String Formatting**

In [ ]:
# Given an integer,n , print the following values for each integer i from 1 to n :

# 1.Decimal
# 2.Octal
# 3.Hexadecimal (capitalized)
# 4.Binary

# Function Description

# Complete the print_formatted function in the editor below.

# print_formatted has the following parameters:

# ___int number: the maximum value to print

# Prints

# The four values must be printed on a single line in the order specified above for each i from 1 to number . Each value should be space-padded to match the width of the binary value of number and the values should be separated by a single space.

# Input Format

# A single integer denoting n.

# Sample Input

# 17

# Sample Output

# 1     1     1     1
# 2     2     2    10
# 3     3     3    11
# 4     4     4   100
# 5     5     5   101
# 6     6     6   110
# 7     7     7   111
# 8    10     8  1000
# 9    11     9  1001
# 10    12     A  1010
# 11    13     B  1011
# 12    14     C  1100
# 13    15     D  1101
# 14    16     E  1110
# 15    17     F  1111
# 16    20    10 10000
# 17    21    11 10001

In [8]:
def print_formatted(number):
    l = len("{0:b}".format(number))

    for i in range (1, number+1):

        print("{0:{w}d} {0:{w}o} {0:{w}X} {0:{w}b}".format(i,w=l))
if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001